body,
.bg-primary {
  background: url('https://c2.staticflickr.com/2/1664/25007563266_7af8d79389_k.jpg')
}

.section-heading {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#quote {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background: transparent;
}
.footer{
	height: 4em;
}