body,
.bg-primary {
  background: url('https://c2.staticflickr.com/8/7325/12287320194_445627ac7f_b.jpg')
}

.section-heading {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#quote {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background: transparent;
}
.footer{
	height: 4em;
}